body{
  background-repeat: no-repeat;
  background-size: cover;
  font-family:  'Arial Narrow Bold', sans-serif;
  /* background-image: url(./assets/images/backgroundImage.jpg); */
  /* background-image: url(./assets/images/27263.jpg); */
  background-image: url(./assets/images/6057485.jpg);
  /* background-image: url(./assets/images/9154060.jpg); */
  /* background-image: url(./assets/images/17973908.jpg); */
  /* background-image: url(./assets/images/3409297.jpg); */
  /* background-color: #979DAC; */
}